.pageContainer {
}
.dateCls {
  font-weight: 500;
  margin-right: 4px;
  color: #222;
}
.articleItem {
  line-height: 26px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.titleCls {
  cursor: pointer;
  text-decoration: underline;
}
.titleCls a {
  color: #222;
}
.paginationContainer {
  margin-top: 20px;
  text-align: center;
}
.mlr4 {
  margin: 0 4px;
}
.lrcls {
  cursor: pointer;
}